body{
    text-align: center;
    background-color: black;
}
.navbar-header{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 2%, rgba(19,19,19,1) 100%);
}
.collapse{
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 2%, rgba(19,19,19,1) 100%);
}
#home{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(22,162,0,1) 100%);
}
h1{
    color: white;
}
h4{
    color: white;
}
#work{
    background: rgb(22,162,0);
background: radial-gradient(circle, rgba(22,162,0,1) 55%, rgba(8,57,0,1) 100%);
}
#news{
    background: rgb(8,57,0);
background: radial-gradient(circle, rgba(8,57,0,1) 7%, rgba(22,162,0,1) 83%);
}
h2{
    color: white;
}
.headline{
    height: 315px;
    width: 560px;
}
#contact{
    background: rgb(8,57,0);
background: linear-gradient(90deg, rgba(8,57,0,1) 27%, rgba(22,162,0,1) 98%);
}
#boi{
    height: 200px;
    width: 100px:
}